# Ensure Unity-created files are checked out in LF
# These files seem to always be written using LF endings
*.unity eol=lf
*.meta eol=lf
*.mat eol=lf
*.asset eol=lf
*.prefab eol=lf
ProjectSettings/* eol=lf
ProjectSettings/**/* eol=lf

# Items that should be stored in LFS
RawAssets/** filter=lfs diff=lfs merge=lfs -text
Assets/Art/**/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/**/*.exr filter=lfs diff=lfs merge=lfs -text
Assets/Art/**/*.jpg filter=lfs diff=lfs merge=lfs -text