<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasySharpIni" version="1.1.2" />
  <package id="FuzzySharp" version="2.0.2" />
  <package id="ini-parser-netstandard" version="2.5.2" />
  <package id="ManagedBass" version="3.1.1" />
  <package id="ManagedBass.Fx" version="3.1.1" />
  <package id="ManagedBass.Mix" version="3.1.1" />
  <package id="Melanchall.DryWetMidi" version="6.1.4" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.1" />
  <package id="NETStandard.Library" version="2.0.3" />
  <package id="TagLibSharp" version="2.3.0" />
</packages>